* {
    text-align: center;
    background-image: url('columns-Wikipedia.jpg');
    background-size: 10cm;
}

button {
    background-color: white;
    border-color: black;
    border-width: 2px;
}

button:hover{
    cursor: pointer;
    border-color: rgb(122, 165, 105);
}

input {
    border-width: 2px;
    background-color: white;
    border-color: black;
}

input:hover{
    border-color: rgb(122, 165, 105);
}

.container{
    width: 300px;
    border: 15px solid rgb(150, 160, 150);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    background: none;
}